<article class="show-container">
    <div class="post">
        <h1 class="post-header"><%= @post.title %></h1>
        <p class="post-body"><%= @post.body %></p>
        <p class="post-time small">Posted <%= time_ago_in_words(@post.created_at) %> ago</p>


        <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-outline-info" %> 
        <%= link_to 'Delete', post_path(@post), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-outline-danger" %>
    </div>


    <h4>Add a comment</h4>
    <%= form_for [@post, @comment] do |f| %>
        <div class="form-group">
            <%= f.text_area :body, placeholder: "What's on your mind?", class: "form-control" %>
        </div>
        <%= f.submit value: "Comment", class: "btn btn-outline-primary" %>
    <% end %>

    <div class="comments">
        <% @comments.each do |comment| %>
            <div class="comment">
                <p><%= comment.body %></p>
                <p class="small">Commented <%= time_ago_in_words(comment.created_at) %> ago • <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: {comfirm: "Are you sure?"} %></p>
            </div>
        <% end %>
    </div>

</article>