<article class="new-user-container">
    <h1>Edit Account</h1>

    <div style="color: red">
        <%= flash[:notice] %>
    </div>

    <%= form_with url: user_update_password_path(@current_user), local: true do |f| %>
        <div>
            <%= f.label :current_password %>
            <%= f.password_field :current_password, class: "form-control" %>
        </div>
        <div>
            <%= f.label :new_password %>
            <%= f.password_field :new_password, class: "form-control" %>
        </div>
        <div>
            <%= f.label :new_password_confirmation %>
            <%= f.password_field :new_password_confirmation, class: "form-control" %>
        </div>

        <%= f.submit class: "btn btn-outline-primary", value: "Change Password" %>

    <% end %>
</article>