<article class="new-user-container">
    <h1>Edit Account</h1>

    <div>
        <% if @current_user.errors.any? %>
            <% @current_user.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
            <% end %>
        <% end %>
    </div>

    <%= form_for(@current_user) do |f| %>
        <div>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
        </div>
        <div>
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
        </div>

        <div style="margin-top: 1em">
            <%= link_to 'Change Password', user_edit_password_path(@current_user), notice: "" %>
        </div>

        <%= f.submit class: "btn btn-outline-primary", value: "Edit Account" %>

    <% end %>
</article>