<article class="new-session-container">
    <h1>Login</h1>

    <div style="color: red">
        <%= flash[:notice] %>
    </div>

    <%= form_with url: :sessions, local: true do |f| %>
        <div>
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
        </div>
        <div>
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
        </div>

        <%= f.submit class: "btn btn-outline-primary", value: "Login!" %>

    <% end %>
</article>